In [ ]:
#List Slicing

In [1]:
students=['amit','suresh','neha','devi','swetha','lakshmi','ravi','arjun']
print(students)

['amit', 'suresh', 'neha', 'devi', 'swetha', 'lakshmi', 'ravi', 'arjun']

In [2]:
print(type(students))

<class 'list'>

In [3]:
#req-->to create small group of people
print(students[3])

devi

In [4]:
#last value is always exclusive, to print list of 2 students in the list
print(students[0:2])

['amit', 'suresh']

In [6]:
print(students[2:4])

['neha', 'devi']

In [7]:
print(students[4:6])

['swetha', 'lakshmi']

In [8]:
print(students[6:8])

['ravi', 'arjun']

In [10]:
print(students)
#to print alternate students in the list
#general syntax is startpoint:endpoint:count
print(students[0:7:2])

['amit', 'suresh', 'neha', 'devi', 'swetha', 'lakshmi', 'ravi', 'arjun']
['amit', 'neha', 'swetha', 'ravi']

In [12]:
#introduction to negative indexing
print(students)
print(students[7])
print(students[-1])

['amit', 'suresh', 'neha', 'devi', 'swetha', 'lakshmi', 'ravi', 'arjun']
arjun
arjun

In [13]:
#how to print a list in reverse order
print(students[::-1])

['arjun', 'ravi', 'lakshmi', 'swetha', 'devi', 'neha', 'suresh', 'amit']

In [14]:
#range(startpoint:endpoint:stepcount)
for value in range(0,20):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
#req->we have 30 numbers in the list i want to print even numbers only
even_no=list(range(2,31,2))
print(even_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]